## Build results
bin/
obj/
artifacts/
publish/

## Visual Studio / VS Code
.vs/
.vscode/

## Test results
TestResults/
*.trx

## User-specific files
*.user
*.suo
*.cache
*.log

## OS files
.DS_Store
Thumbs.db
